@charset "UTF-8";

/*--HTML5-----------------------------------------------------------*/
article,aside,details,footer,header,main,menu,nav,section,summary {
    display: block;
}

/*--layout----------------------------------------------------------*/
#wrapper {
    width: 100%;
    font-weight: normal;
    line-height: 1.5;
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}

#contents {
    margin: 0 auto;
    overflow: hidden;
    min-width: 960px;
    min-height: 500px;
}

/*--Bootstrapが設定する初期値をリセット-----------------------------*/
p {
    margin: 0;
}
